{%- comment -%} "theme-default-pagination" this Class is needed for active page pagination button disable{%- endcomment -%}
<div class="theme-default-pagination">
  <nav class="pagination pagination-wrap mb-10 mb-sm-0">
    <ul class="pagination">
      {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}" aria-label="Previous">
          <i class="ion-ios-arrow-thin-left"></i>
        </a>
      </li>
      {% else %}
      <li class="disabled prev">
        <a href="#">
          <i class="ion-ios-arrow-thin-left"></i>
        </a>
      </li>
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
      {% else %}
      {% if part.title == paginate.current_page %}
      <li class="active"><a href="">{{ part.title }}</a></li>
      {% else %}
      <li><a href="#">{{ part.title }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      <li class="next"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><i class="ion-ios-arrow-thin-right"></i></a></li>
      {% else %}
      <li class="disabled next">
        <a href="#">
          <i class="ion-ios-arrow-thin-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<script>
  $(".theme-default-pagination .disabled a").removeAttr("href");
  $(".theme-default-pagination li.active a").removeAttr("href");
</script>