{% unless settings.shipping_calculator == 'Disabled' %}
<div id="shipping-calculator">
  <h3>{{ settings.shipping_calculator_heading | default: 'Get shipping estimates' }}</h3>
  <div class="shipping-field">
    <div class="field">
      <label for="address_country">Country</label>
      <select id="address_country" name="address[country]"
        data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{
        country_option_tags }}</select>
    </div>
    <div class="field" id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <select id="address_province" name="address[province]"
        data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </div>
    <div class="field">
      <label for="address_zip">Zip/Postal Code</label>
      <input type="text" id="address_zip" placeholder="Enter zip code" name="address[zip]" {% if
        shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}" {% endif %} />
    </div>
    <div class="field">
      <input type="button" class="get-rates btn button theme_buttons"
        value="{{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' }}" />
    </div>
  </div>
  <div id="wrapper-response"></div>
</div>
{% endunless %}

<script id="shipping-calculator-response-template" type="text/template">
  {% raw %}
  <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
  {{#if success}}
    {{#if rates}}
      {{#rates}}
      
        {{#if @first}}
        <br/>
        Available rates are:
        <br/><br/>
        {{/if}}
        
        {{name}}: {{price}}
        <br/>
        
      {{/rates}}
    {{else}}
      We do not ship to this destination.
    {{/if}}    
  {{else}}
    {{ errorFeedback }}
  {{/if}}
  </p>
  {% endraw %}
</script>


{% style %}
.shipping-field .field .get-rates {
  background: {{ settings.theme_btn_bg }};
  color: {{ settings.theme_btn_text }};
  border: none;
}
div#shipping-calculator h3{
  background: {{ settings.bg_color }};
}
.shipping-field .field .get-rates:hover{
  background: {{ settings.theme_btn_hr_bg }};
  color: {{ settings.theme_btn_hr_text }};
}
.shipping-field .field label,div#shipping-calculator h3,#shipping-rates-feedback{
  color: {{ settings.theme_black_color }};
}
.shipping-field .field select {
  background-image: url({{ 'shipping-arrow.svg' | asset_url }});
}
.shipping-field .field select, .shipping-field .field input{
  border: 1px solid {{ settings.border_color }};
  background-color: {{ settings.bg_color }};
  color: {{ settings.theme_black_color }};
}
{% endstyle %}