{%- if section.settings.show_about_info -%}
<div class="about-page-content" id="section-{{ section.id }}">
  <div class="container container-wide">
    <div class="row align-items-center">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'about_content' %}
      <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12 order-1 order-md-0">
        <div class="about-content">
          {%- if block.settings.content_title != '' -%}
          <h2 class="h3 mb-sm-20">{{ block.settings.content_title }}</h2>
          {%- endif -%}        
          {{ block.settings.about_content }}
        </div>
      </div>

      {% when 'image_content' %}
      <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12">
        <div class="about-thumb mb-sm-30">
          {% if block.settings.image_content_image != blank %}
          <img src="{{ block.settings.image_content_image | img_url: 'master' }}" alt="{{ block.settings.image_content_image.alt }}">
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'custom-svg-image' }}
          {% endif %}
        </div>
      </div>
      
      {% when 'video_content' %}
      <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12">
        <div class="about-thumb video-play mb-sm-30">
          {% if block.settings.image_content_image != blank %}
          <img src="{{ block.settings.image_content_image | img_url: 'master' }}" alt="{{ block.settings.image_content_image.alt }}">
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'custom-svg-image' }}
          {% endif %}
          <a href="{{ block.settings.video_url }}" class="btn-video-popup"><i class="ion-play"></i></a>
        </div>
      </div>
      
      {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{%- include 'section-style' -%}
{%- endif -%}


{% schema %}
  {
    "name": "About Info",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_about_info",
          "label": "Show About Info",
          "default": true
      	}
	],
	"blocks":[
          {
            "type": "about_content",
            "name": "Content",
            "settings": [
              {
                "type": "text",
                "id": "content_title",
                "label": "Title",
                "default": "About us"
              },
              {
                "type": "range",
                "id": "content_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Content Column",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "content_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet Content Column",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "richtext",
                "id": "about_content",
                "label": "Content",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
              }
            ]
         },
	   {
          "type": "image_content",
          "name": "Image Content",
          "settings": [
			{
			  "type": "range",
			  "id": "content_column",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Content Column",
			  "unit": "/12",
			  "default": 6
			},
			{
			  "type": "range",
			  "id": "content_column_md",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Tablet Content Column",
			  "unit": "/12",
			  "default": 6
			},
            {
			  "type": "image_picker",
			  "id": "image_content_image",
			  "label": "Image"
			},
            {
			  "type": "url",
			  "id": "image_content_image_url",
			  "label": "URL"
			}
          ]
       },
	   {
          "type": "video_content",
          "name": "Video Content",
          "settings": [
			{
			  "type": "range",
			  "id": "content_column",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Content Column",
			  "unit": "/12",
			  "default": 6
			},
			{
			  "type": "range",
			  "id": "content_column_md",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Tablet Content Column",
			  "unit": "/12",
			  "default": 6
			},
            {
			  "type": "image_picker",
			  "id": "image_content_image",
			  "label": "Image"
			},
            {
               "id": "video_url",
               "type": "video_url",
               "label": "Video URL",
               "accept": ["youtube"],
               "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
            }
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "About Info",
		  "category": "5. about",
		  "blocks":[
				{
					"type": "about_content"
				},
				{
					"type": "image_content"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
