{{ 'category-collection-style2.css' | asset_url | stylesheet_tag }}
<div class="main-collection-list-item2 section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="main-collection-item2 main-collection-item2--{{ section.settings.text_alignment }}">
      {% if section.settings.show_block_title %}
        <div class="m-40 wow fadeInUp">
          <div class="collection-title-wrapper">
            {% if section.settings.main_subheading != blank %}<div class="theme_main_subheading">{{ section.settings.main_subheading }}</div>{% endif %}
            {% if section.settings.main_heading != blank %}<h2 class="theme_main_heading">{{ section.settings.main_heading }}</h2>{% endif %}
            {% if section.settings.main_paragraph != blank %}<p class="theme_main_description">{{ section.settings.main_paragraph }}</p>{% endif %}
          </div>
        </div>
      {% endif %}

      <div class="main-collection-list-wrapper2 wow fadeInUp">
        <div
          class="collection-list2 {{ section.settings.category-style }}">
          {% for block in section.blocks %}
          {% if block.type == 'collection' %}
          {%- assign featured_collection = collections[block.settings.collection] -%}
          {%- assign featured_image = block.settings.image -%}
          {%- assign collectionTitle = featured_collection.title | default: 'Collection' -%}
          <div class="main-collection-list" {{ block.shopify_attributes }}>
            <div class="collection-card__image">

              <a {% if featured_collection.url==blank %} role="link" aria-disabled="true" {% else %}
                  href="{{ featured_collection.url }}" {% endif %} aria-label="buy product">
                    <div class="category-{{ block.id }} category_content">
                  
                    <div class="category-inner">
                      
                        {%- if featured_image != blank -%}
                          <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                            <img src="{{ featured_image | img_url: 'master'}}" data-srcset="{{ featured_image | img_url: 'master'}}" alt="product-image" class="w-100" loading="lazy">
                          </div>
                          {% else %}
                          <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                            {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          {%- endif -%}
                       </div>
                      
                        <div class="collection-name-wrapper2">
                          <h3>
                            {% if block.settings.title1 != blank %}
                              {{ block.settings.title1 }}
                              {% else %}
                              {{ collectionTitle1 }}
                            {% endif %}
                            </h3>
                          <div class="collection-product-count2">{{ featured_collection.products_count | default: 0 }} <span style="margin-left:2px;">{{ 'customer.order.product' | t }}</span></div>
                        </div>
                    
                </div>
              </a>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .main-collection-list-item2 .category-inner{
    background: {{ section.settings.section_bg }};
  }
  .main-collection-list-item2 .theme_main_heading {
    color: {{ settings.theme_heading_color }};
  }
  .main-collection-list-item2 .theme_main_subheading {
    color: {{ settings.theme_subheading_color }};
  }
  .main-collection-list-item2 .theme_main_description{
    color: {{ settings.theme_heading_color }};
  }
  .collection_title_wrap2{
    text-align: {{ section.settings.text_alignment }};
  }
  .collection_title_wrap2 .theme_main_subheading {
    color: {{ settings.theme_subheading_color }};
  }
  .collection_title_wrap2 .theme_main_description{
    color: {{ settings.theme_heading_color }};
  }
  .collection_title_wrap2 h2 {
    color: {{ settings.theme_heading_color }};
  }
  .main-collection-list-item2 .swiper-button-next,.main-collection-list-item2 .swiper-button-prev{
    background:{{ settings.theme_nav_bg }};
    stroke:{{ settings.theme_nav_icon }};
  }
  .main-collection-list-item2 .swiper-button-next:hover,.main-collection-list-item2 .swiper-button-prev:hover{
    background: {{ settings.theme_nav_hr_bg }}; 
    stroke: {{ settings.theme_nav_hr_icon }}; 
  }
  .collection-name-wrapper2{
    text-align: {{ section.settings.content-align }};
  }
  .collection-name-wrapper2 h3{
    color: {{ section.settings.collection-name-color }};
  }
  .collection-card__image:hover .collection-name-wrapper2 h3{
    color: {{ settings.theme_text_hover_color }};
  }
  .collection-product-count2{
    color:{{ settings.content_color }};
  }
  .main-collection-item2 .swiper-pagination-bullet-active{
   background-color: {{ settings.theme_dots_active }} !important;
   transition: all 0.5s ease-in-out;
   opacity: 1 !important;
 }
  .main-collection-item2 .swiper-pagination-bullet{
    background-color: {{ settings.theme_dots }};
    transition: all 0.5s ease-in-out;
    opacity: 1;
  } 
  .main-collection-item2 .category_content{
    background-color: {{ section.settings.collection_bg }};
    border: 1px solid {{ settings.border_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
    background-color: {{section.settings.section_bg}};
  }
  @media screen and (max-width: 1366px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1366 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1366 }}px;
      margin-top: {{ section.settings.margin-top-1366 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1366 }}px;
    }
  }
  @media screen and (max-width: 1099px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1099 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1099 }}px;
      margin-top: {{ section.settings.margin-top-1099 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1099 }}px;
    }
  }
  @media screen and (max-width: 840px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-840 }}px;
      padding-bottom: {{ section.settings.padding-bottom-840 }}px;
      margin-top: {{ section.settings.margin-top-840 }}px;
      margin-bottom: {{ section.settings.margin-bottom-840 }}px;
    }
  }
  @media screen and (max-width: 640px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-640 }}px;
      padding-bottom: {{ section.settings.padding-bottom-640 }}px;
      margin-top: {{ section.settings.margin-top-640 }}px;
      margin-bottom: {{ section.settings.margin-bottom-640 }}px;  
    }
  }
  @media screen and (max-width: 480px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-480 }}px;
      padding-bottom: {{ section.settings.padding-bottom-480 }}px;
      margin-top: {{ section.settings.margin-top-480 }}px;
      margin-bottom: {{ section.settings.margin-bottom-480 }}px;  
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Category section style2",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "category-style",
      "label": "Category style",
      "options": [
        {
          "value": "classic-category",
          "label": "Classic-category"
        },
        {
          "value": "modern-category",
          "label": "Modern-category"
        }
      ],
      "default": "classic-category"
    },
    {
      "type" : "checkbox",
      "id" : "show_block_title",
      "label" : "Show block title",
      "default": true
    },
    {
      "type": "text",
      "id": "main_subheading",
      "label": "Subheading",
      "default": "Best collections"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Heading",
      "default": "Category collection"
    },
    {
      "type": "textarea",
      "id": "main_paragraph",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Main title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content-align",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section bg",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "collection_bg",
      "label": "Collection bg color",
      "default": "#f8f7fc"
    },
    {
      "type": "color",
      "id": "collection-name-color",
      "label": "Collection text color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1366"
    },
    {
      "type": "number",
      "id": "padding-top-1366",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-1366",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 1099"
    },
    {
      "type": "number",
      "id": "padding-top-1099",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-1099",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "@media screen 840"
    },
    {
      "type": "number",
      "id": "padding-top-840",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-840",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "@media screen 640"
    },
    {
      "type": "number",
      "id": "padding-top-640",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "number",
      "id": "padding-bottom-640",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type": "header",
      "content": "@media screen 480"
    },
    {
      "type": "number",
      "id": "padding-top-480",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "number",
      "id": "padding-bottom-480",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1366"
    },
    {
      "type": "number",
      "id": "margin-top-1366",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1366",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1099"
    },
    {
      "type": "number",
      "id": "margin-top-1099",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1099",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 840"
    },
    {
      "type": "number",
      "id": "margin-top-840",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-840",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 640"
    },
    {
      "type": "number",
      "id": "margin-top-640",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-640",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 480"
    },
    {
      "type": "number",
      "id": "margin-top-480",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-480",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "80px X 80px"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Category name",
          "default": "Category"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category section style2",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}