{{ 'gallery-section.css' | asset_url | stylesheet_tag }}
<div class="gallery-main-wrapper section-{{ section.id }}-padding">
  <div class="gallery-inner page-width">
    <div class="gallery-swiper"
      data-autoplay="{{ section.settings.autoplay_enable }}" data-loop="{{ section.settings.loop_enable }}">
        {% if section.settings.show_block_title %}
          <div class="gallery-main-heading title_row m-40 wow fadeInUp">
          <div class="gallery-main-heading-wrapper">
            {% if section.settings.section_subtitle != blank %}<div class="tab_subheading theme_main_subheading">
              {{ section.settings.section_subtitle }}
            </div>{% endif %}
            {% if section.settings.main_heading != blank %}<div class="theme_main_heading h2">{{ section.settings.main_heading }}</div>{% endif %}
            {% if section.settings.section_description %}<p class="collection__description theme_main_description">
              {{ section.settings.section_description }}
            </p>{% endif %}
          </div>
          {% if section.settings.arrows %}
            <div class="swiper-buttons">
              <div class="content-buttons d-flex">
                 <div class="testi-swiper-button-prev swiper-button-prev">{% render 'icon-left' %}
                </div>
                <div class="testi-swiper-button-next swiper-button-next">{% render 'icon-right' %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide gallery-separetes">
              <div class="gallery_img_slider">
                {% if block.settings.gallery-image != blank %}
                <div class="media media--transparent ratio" style="--ratio-percent: 82%">
                  {{ block.settings.gallery-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'slide-image' }}
                </div>
                {% else %}
                  <div class="media media--transparent ratio slide-image" style="--ratio-percent: 82%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
                <div class="gallery-content">
                  <div class="h3">{{ block.settings.content_g }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if section.settings.dots -%}
        <div class="swiper-pagination gallery-swiper-pagination {{ settings.pagination_style }}" id="swiper-pagination-{{section.id}}" style="position: inherit;"></div>
      {% endif %}
    </div>
  </div>
</div>


{% style %}
.gallery-main-wrapper .theme_main_subheading{
  color: {{ settings.theme_subheading_color }};
}
.gallery-main-wrapper .theme_main_heading{
  color: {{ settings.theme_heading_color }};
}
.gallery-main-wrapper .theme_main_description{
  color: {{ settings.content_color }};
}
.gallery-main-heading{
  text-align: {{ section.settings.main_tab_title_alignment }};
}
.gallery-content .h3{
  background-color: {{ settings.theme_btn_bg }};
  color: {{ settings.theme_btn_text }};;
}
.gallery-content .h3:hover{
  background-color: {{ settings.theme_btn_hr_bg }};
  color: {{ settings.theme_btn_hr_text }};;
}
.gallery-main-wrapper .swiper-button-next,.gallery-main-wrapper .swiper-button-prev{
  background:{{ settings.theme_nav_bg }};
  stroke:{{ settings.theme_nav_icon }};
}
.gallery-main-wrapper .swiper-button-next:hover,.gallery-main-wrapper .swiper-button-prev:hover{
  background: {{ settings.theme_nav_hr_bg }}; 
  stroke: {{ settings.theme_nav_hr_icon }};
}
.gallery-main-wrapper .swiper-pagination-bullet-active{
   background-color: {{ settings.theme_dots_active }} !important;
   transition: all 0.5s ease-in-out;
   opacity: 1 !important;
 }
.gallery-main-wrapper .swiper-pagination-bullet{
  background-color: {{ settings.theme_dots }};
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.gallery-swiper.swiper-container-initialized.swiper-container-horizontal:after{
  background-color: {{ settings.bg_color }};
}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
  margin-top: {{ section.settings.margin-top }}px;
  margin-bottom: {{ section.settings.margin-bottom }}px;
}
@media screen and (max-width: 1366px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1366 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1366 }}px;
    margin-top: {{ section.settings.margin-top-1366 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1366 }}px;
  }
}
@media screen and (max-width: 1099px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1099 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1099 }}px;
    margin-top: {{ section.settings.margin-top-1099 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1099 }}px;
  }
}
@media screen and (max-width: 840px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-840 }}px;
    padding-bottom: {{ section.settings.padding-bottom-840 }}px;
    margin-top: {{ section.settings.margin-top-840 }}px;
    margin-bottom: {{ section.settings.margin-bottom-840 }}px;
  }
}
@media screen and (max-width: 640px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-640 }}px;
    padding-bottom: {{ section.settings.padding-bottom-640 }}px;
    margin-top: {{ section.settings.margin-top-640 }}px;
    margin-bottom: {{ section.settings.margin-bottom-640 }}px;  
  }
}
@media screen and (max-width: 480px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-480 }}px;
    padding-bottom: {{ section.settings.padding-bottom-480 }}px;
    margin-top: {{ section.settings.margin-top-480 }}px;
    margin-bottom: {{ section.settings.margin-bottom-480 }}px;  
  }
}
{% endstyle %}
  
  {% schema %}
  {
    "name": "Gallery section",
    "settings": [
      {
        "type" : "checkbox",
        "id" : "show_block_title",
        "label" : "Show block title",
        "default": true
      },
    {
      "type": "checkbox",
      "id": "autoplay_enable",
      "label": "Autoplay enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop_enable",
      "label": "Loop enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable navigation arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Enable pagination dots",
      "default": false
    },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Sub heading",
        "default": "Our best post"
      },
      {
        "type": "textarea",
        "id": "main_heading",
        "label": "Heading",
        "default": "Our portfolio"
      },
      {
        "type": "textarea",
        "id": "section_description",
        "label": "Description",
        "default": "Pair text with an image to focus on your chosen product."
      },
      {
        "type": "select",
        "id": "main_tab_title_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Main title alignment"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1366"
      },
      {
        "type": "number",
        "id": "padding-top-1366",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-1366",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 1099"
      },
      {
        "type": "number",
        "id": "padding-top-1099",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-1099",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "@media screen 840"
      },
      {
        "type": "number",
        "id": "padding-top-840",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-840",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "@media screen 640"
      },
      {
        "type": "number",
        "id": "padding-top-640",
        "label": "Padding top",
        "default": 20
      },
      {
        "type": "number",
        "id": "padding-bottom-640",
        "label": "Padding bottom",
        "default": 20
      },
      {
        "type": "header",
        "content": "@media screen 480"
      },
      {
        "type": "number",
        "id": "padding-top-480",
        "label": "Padding top",
        "default": 20
      },
      {
        "type": "number",
        "id": "padding-bottom-480",
        "label": "Padding bottom",
        "default": 20
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "number",
        "id": "margin-top",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Screen wise section margin"
      },
      {
        "type": "header",
        "content": "@media screen 1366"
      },
      {
        "type": "number",
        "id": "margin-top-1366",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1366",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 1099"
      },
      {
        "type": "number",
        "id": "margin-top-1099",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1099",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 840"
      },
      {
        "type": "number",
        "id": "margin-top-840",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-840",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 640"
      },
      {
        "type": "number",
        "id": "margin-top-640",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-640",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 480"
      },
      {
        "type": "number",
        "id": "margin-top-480",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-480",
        "label": "Margin bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "colection",
        "name": "Item Banner",
        "settings": [
          {
            "type": "header",
            "content": "Banner Image"
          },
          {
            "type": "image_picker",
            "id": "gallery-image",
            "label": "Gallery image",
            "info": "908px X 500px"
          },
          {
            "type": "textarea",
            "id": "content_g",
            "label": "Gallery content",
            "default": "Text for branding gallery."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery section",
        "category": "Gallery section",
        "blocks": [
          {
            "type": "colection"
          },
          {
            "type": "colection"
          },
          {
            "type": "colection"
          },
          {
            "type": "colection"
          },
          {
            "type": "colection"
          }
        ]
      }
    ]
  }
  {% endschema %}

  