<div class="wishlist-page">
  <div class="page-width">
    <h1 class="theme_main_heading wishlist-title inner_page_title">{{ page.title }}</h1>
    <p class="wishlist_note">{{ 'products.product.wishlist_compare_note' | t }}<span class="wishlist_span"> {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span></p>
    <div class="content-block">
      <div class="main-wishlist-popup-content">
      </div>
    </div>
  </div>
</div>